.main-container {
    display: flex;
    flex-direction: row;
    gap: var(--space-lg);
    padding: 24px;
}

.recent-invoice-container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .new-billing {
        display: flex;
        flex-direction: column;
        gap: 12px
    }
}

.bm-card-xs {
    height: fit-content;
}

.action-container {
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.invoice-content-container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .customer-details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }
}

.bill-from-box,
.bill-to_box,
.issued-at_box,
.payment-type_box,
.status_box {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .content {
        display: flex;
        flex-direction: column;
        gap: 8px;

        p {
            font-size: var(--font-md);
            font-weight: var(--font-weight-semibold);
            color: var(--color-text);
        }
    }
}

.invoice-num {
    color: var(--color-btn-primary-bg)
}

table td {
    border-bottom: none;
}


.total-details {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .sub-title,
    .total_amount {
        width: 223px;
        height: 22px;
        margin-bottom: 12px;
        padding: 0 12px;
        text-align: left;

        display: flex;
        justify-content: space-between;

        font-size: 12px;
        font-weight: var(--font-weight-bold);
        color: var(--color-table-header-text);
    }

    .total_amount {
        height: 43px;
        font-size: 14px;
        background-color: #E6F0F1;
        padding: 8px 12px;
        border-radius: 6px;
    }
}

.share-btn-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
