@if (invoiceDetailsObs | async) {
  <div class="invoice-page">
    <div class="invoice-card">
      <div class="invoice-header">
        <div>
          <h1 class="invoice-title">
            Invoice
            <span class="invoice-number">{{
              invoiceDetails.overAll.invoice_number
            }}</span>
          </h1>
          <p class="muted-text">
            Date: {{ invoiceDetails.overAll.created_at | date: "dd MMM YYYY" }}
          </p>
          <p class="muted-text">
            Invoice Type :
            {{
              invoiceDetails.overAll.invoice_type === "NON_GST"
                ? "Non GST"
                : "GST"
            }}
          </p>
        </div>

        <span
          class="badge"
          [ngClass]="{
            'bg-success': invoiceDetails.overAll.invoice_status === 'PAID',
            'bg-danger': invoiceDetails.overAll.invoice_status === 'CANCELLED',
            'bg-warning': invoiceDetails.overAll.invoice_status === 'DRAFT',
          }"
          >{{ invoiceDetails.overAll.invoice_status }}</span
        >
        <span class="badge bg-info" (click)="onDownloadPDF()">Download</span>
        <span class="badge bg-info" (click)="onEmailPDF()">email</span>
      </div>
      <div class="party-section">
        <div>
          <h3 class="section-title">From</h3>
          <p class="text-bold">{{ merchantInfo.tenant_name }}</p>
          <p class="muted-text">{{ merchantInfo.gstin }}</p>
          <p class="muted-text">
            {{ merchantInfo.address }}, {{ merchantInfo.pincode }}
          </p>
          <p class="muted-text">
            {{ merchantInfo.state }}, {{ merchantInfo.country }}
          </p>
        </div>
        <div>
          <h3 class="section-title">To</h3>
          <p class="text-bold">{{ invoiceDetails.overAll.customer_name }}</p>
          <p class="muted-text">{{ invoiceDetails.overAll.customer_gstin }}</p>
          <p class="muted-text">--</p>
        </div>
      </div>

      <div class="item-table__wrapper">
        <table class="items-table">
          <thead>
            <tr>
              <th>Product</th>
              <th class="text-right">Qty</th>
              <th class="text-right">Price</th>
              <th class="text-right">Tax</th>
              <th class="text-right">Total</th>
            </tr>
          </thead>
          <tbody>
            @for (item of invoiceDetails.items; track item.id; let i = $index) {
              <tr>
                <td>{{ item.product_name_snapshot }}</td>
                <td class="text-right">{{ item.quantity }}</td>
                <td class="text-right">{{ item.price_snapshot | inrcurr }}</td>
                <td class="text-right">{{ item.tax_rate | inrcurr }}</td>
                <td class="text-right">{{ item.line_total | inrcurr }}</td>
              </tr>
            }
          </tbody>
        </table>
      </div>

      <div class="summary_wrapper">
        <div class="summary-card">
          <div class="summary-row">
            <span>Subtotal</span>
            <span>{{ invoiceDetails.overAll.subtotal | inrcurr }}</span>
          </div>
          <div class="summary-row">
            <span>Tax amount</span>
            <span>{{ invoiceDetails.overAll.tax_amount | inrcurr }}</span>
          </div>
          <div class="summary-row total">
            <span>Total</span>
            <span>{{ invoiceDetails.overAll.total_amount | inrcurr }}</span>
          </div>
        </div>
      </div>

      <div class="invoice-footer">
        <p class="muted-text">
          <!-- payment-method:N/A <br /> -->
          Thank you for your business 🙏
        </p>
      </div>
    </div>
  </div>
  @if (showEmailPopUp) {
    <app-custom-popup-modal
      [data]="emailModalData"
      (btnTriggerEvent)="onEmailTrigger($event)"
    ></app-custom-popup-modal>
  }
}
