<main>
    <div class="main-container">
        <div class="bm-card">
            <div class="header">
                <p class="title">{{'Transfer Products'}}</p>
            </div>
            <div class="content">
                <div class="bm-col">
                    <div class="bm-label-input">
                        <label for="productName">Source Branch*</label>
                        <app-bm-select [options]="branchList" [value]="selectedBranchName"
                            (valueChange)="onsrcBranchChange($event)"></app-bm-select>
                    </div>
                    <div class="bm-label-input">
                        <label for="productName">Destination Branch*</label>
                        <app-bm-select [options]="dstBranchList" [value]="selectedDstBranchName"
                            (valueChange)="onDstBranchChange($event)"></app-bm-select>
                    </div>
                </div>
                <div class="bm-col">
                    <div class="bm-label-input">
                        <label for="hsnCode">Remarks*</label>
                        <input type="text" id="remarks" class="bm-input" [(ngModel)]="payloadObj.remarks">
                    </div>
                </div>
            </div>
        </div>
        <div class="bm-card">
            <ng-container *ngTemplateOutlet="transferTable"></ng-container>
        </div>
        <div class="btn-container">
            <button class="bm-btn bm-btn-primary" [disabled]="isTransferOngoing" (click)="onSumbitTransfer()">
                Transfer</button>
        </div>
    </div>
</main>

<ng-template #transferTable>
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Available Qty</th>
                <th>Transfer Qty</th>
                <th>Destination Qty</th>
            </tr>
        </thead>
        <tbody>
            @for(products of productsByBranch;track products.id){
            <tr>
                <td>{{products.product_name}}</td>
                <td>{{products.current_qty}}</td>
                <td>
                    <input type="number" class="bm-input" (change)="onProductQtyChange(products)"
                        [(ngModel)]="products.shiftCount" />
                </td>
                <td>{{products['destProductQty']}}</td>
            </tr>
            }
        </tbody>
    </table>
</ng-template>