<main>
  <div class="main-container">
    <div class="page-header">
      <p class="title">Billing</p>
      <div class="action-container">
        <div class="input-wrapper">
          <span class="input-icon">
            <img src="/assets/icons/input-search.svg" alt="search" srcset="">
          </span>
          <input class="bm-input" type="text" placeholder="Search by Name/ #invoice" [formControl]="searchControl">
        </div>
        <div class="input-wrapper">
          <select name="filter" id="filter" class="bm-input" [formControl]="filterControl">
            <option value="all">All</option>
            <option value="paid">Paid</option>
            <option value="draft">Draft</option>
            <option value="cancelled">Cancelled</option>
          </select>
        </div>
        <div class="bm-btn bm-btn-primary" (click)="onRoute('create-invoice')">New Billing</div>
      </div>
    </div>
    @if(searchFilterList.length){

    <app-table [columns]="productsTableColumn" [rows]="productTableRows" [showCheckbox]="true" [showAction]="true"
      (actionEmit)="onTableAction($event)" [actionBtnConfig]="btnConfig"></app-table>
    <app-bm-pagination [currentPage]="1" [totalPages]="6"></app-bm-pagination>
    }
    @else {
    <div class="no-data">
      <p>No Invoice List found</p>
      <button class="btn btn-outline-secondary" (click)="onRoute('create-invoice')">
        Create Invoice ?
      </button>
    </div>
    }
  </div>
</main>
@if (showPaymentPopUp) {
<app-payment-confirmation-popup [data]="popupData"
  (btnTriggerEvent)="onMarkAsPayTrigger($event)"></app-payment-confirmation-popup>
}