<main>
    <form [formGroup]="purchasesForm" class="main-container" (ngSubmit)="onSubmitPurchases()">
        <div class="bm-card">
            <div class="header">
                <label for="title" class="title">Purchase Products</label>
            </div>
            <div class="content">
                <div class="bm-col">
                    <div class="bm-label-input">
                        <label for="productName">Source Branch*</label>
                        <app-bm-select [options]="branchListCopy" [value]="selectedBranchName"
                            (valueChange)="onBranchChange($event)"></app-bm-select>
                    </div>
                </div>
                <div class="bm-col">
                    <div class="bm-label-input">
                        <label for="hsnCode">Remarks*</label>
                        <input type="text" id="remarks" class="bm-input" formControlName="remarks">
                    </div>
                </div>
            </div>
        </div>

        <div class="bm-card">
            <div formArrayName="items">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Unit Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(item of purchasesItemArr.controls;track $index;let i = $index){

                        <tr [formGroupName]="i">
                            <td>
                                <select class="bm-input" name="product" id="product" formControlName="productId">
                                    @for (product of allProductsList; track product.id) {
                                    <option [value]="product.id">{{product.product}}</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <input class="bm-input" type="number" formControlName="qty">
                            </td>
                            <td>
                                <input class="bm-input" type="number" formControlName="unitCost">
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div>
                <button class="bm-btn-with-edit-icon" (click)="addItem()">Add Item</button>
            </div>
        </div>
        <div class="btn-container">
            <button type="submit" class="bm-btn bm-btn-primary" [disabled]="isSubmitted">
                Submit</button>
        </div>
    </form>
</main>