<div class="login-container">
  <form [formGroup]="userLoginForm" (ngSubmit)="onSubmitLogin()">
    @if(isNewUser && isSignupScreen){
    <div class="form-group">
      <label for="userName">Name*</label>
      <input
        class="form-control"
        type="text"
        name="userName"
        formControlName="userName"
      />
    </div>
    <div class="form-group">
      <label for="phNumber">Phone number*</label>
      <input
        class="form-control"
        type="number"
        name="phNumber"
        formControlName="phoneNumber"
      />
    </div>
    }
    <div class="form-group">
      <label for="email">E-mail*</label>
      <input
        class="form-control"
        type="email"
        name="email"
        formControlName="email"
      />
    </div>
    <div class="form-group">
      <label for="pwd">Password*</label>
      <input
        class="form-control"
        type="password"
        name="pwd"
        formControlName="password"
      />
    </div>
    @if(isSignupScreen){
    <div class="form-group">
      <label for="confirmPassword">Confirm Password *</label>
      <input
        type="password"
        name="confirmPassword"
        class="form-control"
        formControlName="confirmPassword"
      />
    </div>
    }
    <div class="btn-container">
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="onClearLogin()"
      >
        Clear
      </button>
      <button class="btn btn-primary" type="submit">
        {{ isSignupScreen ? "Sign-Up" : "Login" }}
      </button>
      <button class="btn btn-primary" type="button" (click)="checkRefresh()">
        Switch to {{ !isSignupScreen ? " Sign-Up " : " Login " }} page
      </button>
    </div>
  </form>
</div>
