<div class="login-container">
  <div class="bm-card">
    @if(!isOTPLogin){
    <form [formGroup]="userLoginForm" (ngSubmit)="onSubmitLogin()" ß>
      @if(isNewUser && isSignupScreen){
      <div class="bm-label-input">
        <label for="userName">Name*</label>
        <input class="bm-input" type="text" name="userName" formControlName="userName" />
      </div>
      <div class="bm-label-input">
        <label for="phNumber">Phone number*</label>
        <input class="bm-input" type="number" name="phNumber" formControlName="phoneNumber" />
      </div>
      }
      <div class="bm-label-input">
        <label for="email">E-mail*</label>
        <input class="bm-input" type="email" name="email" formControlName="email" />
      </div>
      <div class="bm-label-input">
        <label for="pwd">Password*</label>
        <input class="bm-input" type="password" name="pwd" formControlName="password" />
      </div>
      @if(isSignupScreen){
      <div class="bm-label-input">
        <label for="confirmPassword">Confirm Password *</label>
        <input type="password" name="confirmPassword" class="bm-input" formControlName="confirmPassword" />
      </div>
      }
      <div class="btn-container">
        <button class="bm-btn bm-btn-secondary" type="button" (click)="onClearLogin()">
          Clear
        </button>
        <button class="bm-btn bm-btn-primary" type="submit">
          {{ isSignupScreen ? "Sign-Up" : "Login" }}
        </button>
      </div>
    </form>
    }@else {
    <div class="bm-label-input">
      <label for="phNumber">Phone number*</label>
      <div class="phone-field">
        <label class="ph_code">+91</label><input class="bm-input" type="number" name="phNumber" [disabled]="isOTPSent"
          [(ngModel)]="phoneNumber" />
      </div>
    </div>
    @if(isOTPSent){
    <div class="bm-label-input">
      <label for="phNumber">Enter OTP*</label>
      <input class="bm-input" type="number" name="otp" [(ngModel)]="otpCode" />
    </div>
    }
    <div class="btn-container">
      @if(!isOTPSent){
      <button class="bm-btn bm-btn-primary" (click)="onSendOTP()">Send OTP</button>
      }@else {
      <button class="bm-btn bm-btn-primary" (click)="onVerifyOTP()">Verify</button>
      <button class="bm-btn bm-btn-with-edit-icon" (click)="isOTPSent=false">Edit Phone Number</button>
      }
    </div>
    }
    <div class="alternate-login">
      @if(!isSignupScreen){
      <label for="alter">Didn't have account? <span class="anchor" (click)="checkRefresh()">Sign Up</span></label>
      }@else {
      <label for="alter">Already have an account? <span class="anchor" (click)="checkRefresh()">Login</span></label>
      }
      @if(!isOTPLogin){
      <label>OR</label>
      <label for="alter"><span class="anchor" (click)="onLoginWithOTP()">Using OTP</span></label>
      }
    </div>
  </div>
</div>