<div class="overlay">
  <div class="custom_popup__container">
    <div class="title_box">
      <p class="title">{{ data.title }}</p>
    </div>
    <div class="content_box">
      @if (data.isEmail) {
        <div class="email_box">
          <label for="email">Email</label>
          <input type="email" class="form-control" [(ngModel)]="email" />
        </div>
      }
      @if (data.isShare) {
        <div class="email_box">
          <label for="email">Phone Number</label>
          <input type="email" class="form-control" [(ngModel)]="phoneNumber" />
        </div>
        <div class="share-btn-box">
          <button (click)="onShareType('copy')">Copy link</button>
          <button
            (click)="onShareType('watsapp')"
            [disabled]="phoneNumber.length < 10 || phoneNumber.length > 10"
          >
            Wats App
          </button>
        </div>
      }
      <div class="btn-container">
        @if (data.showCancelBtn) {
          <button
            type="button"
            class="btn primary"
            (click)="onButtonClick(false)"
          >
            Cancel
          </button>
        }
        @if (data.showConfirmBtn) {
          <button
            type="button"
            class="btn primary"
            (click)="onButtonClick(true)"
          >
            Submit
          </button>
        }
      </div>
    </div>
  </div>
</div>
