.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-lg);
  margin: var(--space-lg);
  padding-bottom: var(--space-lg);
}

.tenant-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .title {
    font-size: var(--font-md);
    font-weight: var(--font-weight-semibold);
    color: var(--color-text);
  }

  .sub-title {
    font-size: var(--font-sm);
    font-weight: var(--font-weight-semibold);
    color: var(--color-content-netural)
  }
}

.invoice-details {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--space-lg);

  .bm-col {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);

    .toggle_gst {
      display: flex;
      flex-direction: row;
      gap: var(--space-md)
    }
  }
}

table td {
  border-bottom: none;
}

.product_name_col {
  width: 338px !important;
}

.total-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .sub-title,
  .total_amount {
    width: 223px;
    height: 22px;
    margin-bottom: 12px;
    padding: 0 12px;
    text-align: left;

    display: flex;
    justify-content: space-between;

    font-size: 12px;
    font-weight: var(--font-weight-bold);
    color: var(--color-table-header-text);
  }

  .total_amount {
    height: 43px;
    font-size: 14px;
    background-color: #E6F0F1;
    padding: 8px 12px;
    border-radius: 6px;
  }
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 24px;
}

.delete_tr-container {
  padding-top: 10px;
}