.main-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px
}

.merchant-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 12px;
    border-bottom: 1px solid #5c5c5c33;
}

.details {
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding: 0 8px;
}

.title {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.sub-title, label {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.client-details {
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding-bottom: 24px;
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #5c5c5c33;
    margin-bottom: 40px;

    .btn-box {
        display: flex;
        gap: 16px;
        align-items: center;
        padding: 24px;
    }
}

/* Invoice Items Styles */
.item-container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .table-head {
        display: flex;
        flex-direction: row;
        gap: 4px;
    }
}


.actions-container {
    img {
        margin-top: 10px;
        height: 20px;
        cursor: pointer;

    }
}

.add-list-btn {
    width: 20px;
    height: 20px;
    padding: 15px;
    background-color: #0000ff3d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #5c5c5c33;
    margin-bottom: 40px;

    .btn-box {
        display: flex;
        gap: 16px;
        align-items: center;
        padding: 24px;
    }
}