<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm fixed-top">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand fw-semibold" (click)="onRouteTo('/dashboard')">
      MyBilling
    </a>

    <!-- Primary Action (Mobile visible) -->
    @if (isUserLoggedIn) {
      <a
        class="btn btn-primary btn-sm d-lg-none ms-auto me-2"
        (click)="onRouteTo('/admin/invoice')"
      >
        + Invoice
      </a>
    }

    <!-- Hamburger -->
    <button
      class="navbar-toggler border-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      (click)="onMenuOpen()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu -->
    <div
      class="collapse navbar-collapse mt-3 mt-lg-0"
      [class.show]="isMenuOpen"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav ms-auto gap-lg-3">
        @if (isUserLoggedIn) {
          <li class="nav-item">
            <a class="nav-link" (click)="onRouteTo('/dashboard')">
              Dashboard
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" (click)="onRouteTo('/admin/invoice')">
              Invoice
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" (click)="onRouteTo('/admin/products-list')">
              Products
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" (click)="onRouteTo('/admin/create-new')">
              Add Product
            </a>
          </li>
        }

        <li class="nav-item mt-2 mt-lg-0">
          @if (!isUserLoggedIn) {
            <button
              class="btn btn-outline-primary w-100"
              (click)="onUserLogin()"
            >
              Login
            </button>
          } @else {
            <button
              class="btn btn-outline-danger w-100"
              (click)="onUserLogout()"
            >
              Logout
            </button>
          }
        </li>
      </ul>
    </div>
  </div>
</nav>

<app-loader />
<router-outlet />
