<main>
    <div class="main-container">
        <div class="title-box">
            <p class="title">Transfer products</p>
            <p class="sub-title">Move products from one branch to another branch.</p>
        </div>
        <div class="selection-box">
            <div class="src-drpdown">
                <div class="srcBranch_box">
                    <label for="srcDropDown">Source Branch</label>
                    <select name="srcDropDown" id="srcDropdown" [formControl]="srcBranchForm">
                        @for(branch of branchList;track branch.id){
                        <option [value]="branch.id">{{branch.branch_name}}</option>
                        }
                    </select>
                </div>
                <div class="dstBranch_box">
                    <label for="dstDropDown">
                        Destination Branch
                    </label>
                    <select name="dstDropDown" id="dstDropdown" [formControl]="dstBranchForm">
                        @for(branch of dstBranchList;track branch.id){
                        <option [value]="branch.id">{{branch.branch_name}}</option>
                        }
                    </select>
                </div>
            </div>
            <div class="remarks">
                <label for="remarks">Remarks*</label>
                <input type="text" id="remarks" [(ngModel)]="payloadObj.remarks">
            </div>
        </div>
        <div class="table-content">
            <ng-container *ngTemplateOutlet="transferTable"></ng-container>
        </div>
        <div class="btn-container">
            <button class="btn btn-outline-primary" [disabled]="isTransferOngoing" (click)="onSumbitTransfer()">Submit
                Transfer</button>
        </div>
    </div>
</main>

<ng-template #transferTable>
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Available Qty</th>
                <th>Transfer Qty</th>
                <th>Destination Qty</th>
            </tr>
        </thead>
        <tbody>
            @for(products of productsByBranch;track products.id){
            <tr>
                <td>{{products.product_name}}</td>
                <td>{{products.current_qty}}</td>
                <td>
                    <input type="number" (change)="onProductQtyChange(products)" [(ngModel)]="products.shiftCount" />
                </td>
                <td>{{products['destProductQty']}}</td>
            </tr>
            }
        </tbody>
    </table>
</ng-template>