<table class="table">
    <thead>
        <tr>
            @if(showCheckbox){
            <th class="table-checkbox text-left">
                <input type="checkbox">
            </th>
            }
            @for(col of columns;track $index){
            <th class="text-left">
                {{col.label}}
            </th>
            }
            @if(showAction){
            <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @for (row of rows; track $index;let i = $index;let first = $first) {
        <tr class="table-row">
            @if (showCheckbox) {
            <td class="text-left table-checkbox">
                <input type="checkbox">
            </td>
            }
            @for(data of row[i];track $index){
            <td class="text-left">
                <span [ngClass]="data.class">
                    {{data.formatter?data.formatter(data.value):data.value}}
                </span>
            </td>
            }
            @if(showAction){
            <td class="action-items ">
                @if(actionBtnConfig.viewBtn){
                <img src="assets/icons/view-blue.svg" alt="" class="edit-img" (click)="onEmitAction('viewBtn',i)">
                }
                @if(actionBtnConfig.editBtn){
                <img class="edit-img" src="assets/admin-img/edit.svg" alt="edit" (click)="onEmitAction('editBtn',i)" />
                }
                @if(actionBtnConfig.deleteBtn){
                <img class="delete-img" src="assets/admin-img/delete.svg" alt="delete"
                    (click)="onEmitAction('deleteBtn',i)" />
                }
                @if(actionBtnConfig.pdfDownload){
                <img class="delete-img" src="assets/icons/pdf-download.svg" alt="delete"
                    (click)="onEmitAction('pdfDownload',i)" />
                }
                @if(actionBtnConfig.payNowBtn){
                <img class="delete-img" src="assets/icons/pay-now.svg" alt="delete"
                    (click)="onEmitAction('payNowBtn',i)" />
                }
            </td>
            }
        </tr>
        }
    </tbody>
</table>