<main class="main-container">
  <div class="page-header">
    <p class="title">Billing</p>
    <div class="action-container">
      <select name="branch" id="branch" class="bm-input">
        @for (branch of branchList; track branch.id) {
        <option [value]="branch.id">{{branch.name}}</option>
        }
      </select>
      <select name="branch" id="branch" class="bm-input">
        @for (days of ['7','30','60']; track $index) {
        <option [value]="days">{{days +' days'}}</option>
        }
      </select>
      <div class="bm-btn bm-btn-secondary" (click)="onRouteTo('/admin/create-new')">New Product</div>
      <div class="bm-btn bm-btn-primary" (click)="onRouteTo('/admin/invoice/create-invoice')">New Billing</div>
    </div>
  </div>
  <div class="insights-cards">
    @for(card of insightsCardsList;track $index){
    <div class="insight-card">
      <div class="card-title">
        <img [src]="card.icon" alt="">
        {{card.label}}
      </div>
      <div class="data">
        <p>
          {{card.data}}
        </p>
        @if(card.trends){
        <div class="trends trending-up">
          <img [src]="card.trends.icon" alt="">
          {{card.trends.trendsValue}}
        </div>
        }
      </div>
    </div>
    }
  </div>
  <div class="stats-container">
    <div class="card revenue-container">
      <div class="header">
        <p class="title">Revenue</p>
        <div>
          <select name="branch" id="branch" class="bm-input">
            @for (days of ['7','30','60']; track $index) {
            <option [value]="days">{{days +' days'}}</option>
            }
          </select>
        </div>
      </div>
    </div>
    <div class="card invoice-container">
      <div class="header">
        <span class="invoice-head">
          <p class="title">Invoice</p>
          <img src="assets/icons/expand-window.svg" alt="" (click)="onRouteTo('/invoice/invoice-lists')">
        </span>
        <div>
          <select name="branch" id="branch" class="bm-input">
            @for (days of ['7','30','60']; track $index) {
            <option [value]="days">{{days +' days'}}</option>
            }
          </select>
        </div>
      </div>
      <div class="content">
        <app-table [columns]="productsTableColumn" [rows]="productTableRows" [showCheckbox]="false"
          [showAction]="false"></app-table>
      </div>
    </div>
    <div class="card top-seller">
      <div class="header">
        <p class="title">Top Seller</p>
        <div>
          <select name="branch" id="branch" class="bm-input">
            @for (days of ['7','30','60']; track $index) {
            <option [value]="days">{{days +' days'}}</option>
            }
          </select>
        </div>
      </div>
    </div>
    <div class="card stock-overview">
      <div class="header">
        <p class="title">Stock Overview</p>
        <div>
          <select name="branch" id="branch" class="bm-input">
            @for (days of ['7','30','60']; track $index) {
            <option [value]="days">{{days +' days'}}</option>
            }
          </select>
        </div>
      </div>
    </div>
  </div>
</main>