@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import './styles/token.css';
@import './styles/base.css';

@import './styles/toggle.css';
@import './styles/button.css';
@import './styles/input.css';
@import './styles/component.css';
@import './styles/table.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Manrope', sans-serif;
    padding-top: var(--navbar-height);
}