<div class="login-container">
  <form [formGroup]="newProductForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="productName">Product Name*</label>
      <input
        class="form-control"
        type="text"
        name="productName"
        formControlName="productName"
      />
    </div>
    <div class="form-group">
      <label for="desc">Description*</label>
      <input
        class="form-control"
        type="text"
        name="desc"
        formControlName="description"
      />
    </div>
    <div class="form-group">
      <label for="price">Price*</label>
      <input
        class="form-control"
        type="number"
        name="price"
        formControlName="price"
      />
    </div>
    <div class="form-group">
      <label for="stockCount">Stock count*</label>
      <input
        class="form-control"
        type="number"
        name="stockCount"
        formControlName="stockCount"
      />
    </div>
    <div class="form-group">
      <label for="taxPercentage">Tax Percentage*</label>
      <input
        class="form-control"
        type="number"
        name="taxPercentage"
        formControlName="taxPercentage"
      />
    </div>
    <div class="form-group">
      <label for="skuCode">SKU Code*</label>
      <input
        class="form-control"
        type="text"
        name="skuCode"
        formControlName="skuCode"
      />
    </div>
    <div class="form-group">
      <label for="isActive">isActive</label>
      <input type="checkbox" name="isActive" formControlName="isActive" />
    </div>
    <div class="btn-container">
      <button class="btn btn-outline-secondary" type="button">Clear</button>
      <button class="btn btn-outline-primary" type="submit">
        {{ buttonLable }}
      </button>
    </div>
  </form>
</div>
